<footer id="contact" class="reveal-on-scroll">
    <div class="contact-container">
        <div class="contact-info">
            <h1>Contact Us</h1>
            <p>WhatsApp:</p><p>0821 - 2335 - 8377</p>
            <p>Email:</p><p>team.temubahagia@gmail.com</p>
            <p>Office Address:</p><p>Jalan Kuping Gajah, No.16 (DAC 40), Cisaranten Kulon, Kec. Arcamanik, Kota Bandung, Jawa Barat, 40293</p>
            <div class="social-icons">
                <a href="https://www.youtube.com/channel/UCV4G1zjSbeS6ZVtRTBbr11Q"><i class="fab fa-youtube"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100077435064155#"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/temubahagia.id"><i class="fab fa-instagram"></i></a>
            </div>
            <img src="/img/Filosofi logo.png" alt="Filosofi Logo" class="footer-logo">
        </div>
        <form id="contact-form">
            <label for="name" style="margin-right: 8px;">Nama</label>
            <input type="text" id="name" name="name"><br>
            <label for="email" style="margin-right: 8px;">Email</label>
            <input type="email" id="email" name="email"><br>
            <label for="phone" style="margin-right: 8px;">Nomor Handphone</label>
            <input type="tel" id="phone" name="phone"><br>
            <label for="help" style="margin-right: 8px;">Apa yang bisa kami bantu?</label>
            <input type="text" id="help" name="help"><br>
            <button type="submit" id="submit">KIRIM</button>
        </form>
    </div>
</footer>