<div class="page-inverted">
<div class="main-container px-1">
    <div class="main-hero">
        <img src="{{article.imageUrl}}" alt="{{article.title}}" class="top-image">
        <h1>{{article.title}}</h1>
        <div class="author-byline">
            <i class="fas fa-user"></i>
            <span>Oleh: Rena Puspa</span>
        </div>
        <p class="article-content">{{article.content}}</p>
    </div>
</div>
</div>