<div class="page-inverted">
<div class="main-container px-5">
    <h1 class="mt-4 reveal-on-scroll service-page-title" style="text-align: center;">GALLERY</h1>
    <div class="gallery-header-image-wrapper">
    <img src="/img/header1.jpg" alt="Header Image" class="gallery-header-image reveal-on-scroll">
</div>
    <div class="gallery-grid reveal-on-scroll">
        {{#each images}}
        <div class="gallery-item">
            <img src="{{this.imageUrl}}" alt="{{this.title}}" onclick="openLightbox({{this.id}})">
        </div>
        {{/each}}
    </div>
    <div class="gallery-description reveal-on-scroll">
        <p>Workshop “Suara dari Hati – Menulis untuk Melepas, Mendengar untuk Menguatkan” - 14 September 2025</p>
        <p>More Coming Soon</p>
    </div>
</div>
</div>

<div id="lightbox" class="lightbox">
    <span class="close" onclick="closeLightbox()">&times;</span>
    <div class="lightbox-content">
        <img id="lightbox-img">
        <div id="lightbox-caption"></div>
    </div>
    <a class="prev" onclick="changeImage(-1)">&#10094;</a>
    <a class="next" onclick="changeImage(1)">&#10095;</a>
</div>